.header {
  padding: 12px 24px;
  background-color: hsla(0, 0%, 100%, 90%);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 0%, 0.05);
  border-top: 3px solid var(--foreground);
  position: sticky;
  top: 0;
  z-index: 99;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  .inner {
    flex-direction: row;
  }
}

.left, .right {
  display: none;
}

@media (min-width: 600px) {
  .left, .right {
    display: flex;
  }
}

.center > a {
  display: flex;
}

.mobileNav {
  display: none;
}

.mobileNav.active {
  background-color: hsla(0, 0%, 100%, 90%);
  backdrop-filter: saturate(180%) blur(5px);
  width: 100%;
  height: 100vh;
  top: 114px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNav.active > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
}

.mobileNav.active > div > a {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 0%, 0.05);
  font-size: 1rem;
  color: var(--foreground);
}

.mobileNav.active > div > a + a {
  margin-top: 20px
}

@media (min-width: 600px) {
  .mobileNav.active {
    display: none;
  }
}

.toggle {
  display: flex;
  background-color: hsla(192, 73%, 15%, 0.01);
  border: 2px solid hsla(192, 73%, 15%, 0.05);
  border-radius: 150597px;
  padding: 12px;
}

/* Temp remove accessibility outline */
.toggle:focus {
  outline: none;
}

.toggle:hover {
  border-color: var(--foreground);
}

@media (min-width: 600px) {
  .toggle {
    display: none;
  }
}

.link {
  font-size: 14px;
  color: hsla(192, 73%, 15%, 0.66);
  transition: color .2s ease-in-out;
}

.link:hover {
  color: var(--foreground);
  transition: 0.15s ease-in-out;
}

/* `:not(:last-child)` better approach ? */
.link + .link {
  margin-left: 36px;
}