@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(192, 73%, 15%);

  --radius-small: 5px;
  --radius-medium: 12px;

  --shadow-large: 0 30px 60px hsla(0, 0%, 0%, 0.12);

  --font-primary: 'Nunito', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: hsla(192, 73%, 15%, 99%); /* Opacity to fix grey scale bug */
  color: var(--background);
}

body {
  font: 400 16px/1.5 var(--font-primary);
  text-rendering: optimizeLegibility;
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: currentColor;
  transition: color 420ms ease-in-out;
  text-decoration: none;
}

.debug {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}

.logo path {
  fill: var(--foreground);
}



/* Button */
button, .button {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--foreground);
  color: var(--background);
  padding: 12px 24px;
  border-radius: var(--radius-small);
}

.pulseEffect {
  animation: buttonClick 1s;
}

.pulseEffectTwo {
  animation: buttonClickTwo 1s;
}

@keyframes buttonClick {
  5% {
      transform: scale(0.9)
  }
}

@keyframes buttonClickTwo {
  5% {
      transform: scale(0.9)
  }
}



/* Main section */
.section {
  padding: 15vh 0
}

.section .inner {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 600px) {
  .section .inner {
    max-width: 960px;
    margin: 0 auto;
  }
}



/* Grid system */
.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--gutter-y) * -1);
  margin-left: calc(var(--gutter-x) / -2);
  margin-right: calc(var(--gutter-x) / -2);
}

@media (min-width: 576px) {
  .col-sm-1 {
    --columns: 12;
    width: calc(100% / var(--columns) * 1);
    flex: 0 0 auto;
  }

  .col-sm-2 {
    --columns: 12;
    width: calc(100% / var(--columns) * 2);
    flex: 0 0 auto;
  }

  .col-sm-3 {
    --columns: 12;
    width: calc(100% / var(--columns) * 3);
    flex: 0 0 auto;
  }

  .col-sm-4 {
    --columns: 12;
    width: calc(100% / var(--columns) * 4);
    flex: 0 0 auto;
  }

  .col-sm-5 {
    --columns: 12;
    width: calc(100% / var(--columns) * 5);
    flex: 0 0 auto;
  }

  .col-sm-6 {
    --columns: 12;
    width: calc(100% / var(--columns) * 6);
    flex: 0 0 auto;
  }

  .col-sm-7 {
    --columns: 12;
    width: calc(100% / var(--columns) * 7);
    flex: 0 0 auto;
  }

  .col-sm-8 {
    --columns: 12;
    width: calc(100% / var(--columns) * 8);
    flex: 0 0 auto;
  }

  .col-sm-9 {
    --columns: 12;
    width: calc(100% / var(--columns) * 9);
    flex: 0 0 auto;
  }

  .col-sm-10 {
    --columns: 12;
    width: calc(100% / var(--columns) * 10);
    flex: 0 0 auto;
  }

  .col-sm-11 {
    --columns: 12;
    width: calc(100% / var(--columns) * 11);
    flex: 0 0 auto;
  }

  .col-sm-12 {
    --columns: 12;
    width: calc(100% / var(--columns) * 12);
    flex: 0 0 auto;
  }
}